<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Тут название страницы написать</title>
    <meta name="description" content="Описание страницы"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous"/>
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous"/>
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous"/>
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/assets/css/fonts.min.css?v=33498857"/>
    <link rel="stylesheet" href="/assets/css/basic.min.css?v=33498857"/>
    <link rel="stylesheet" href="/assets/css/extra.min.css?v=33498857"/>

    <script defer="" src="/assets/js/scripts.min.js?v=33498857"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#locales").change(function () {
                var selectedOption = $("#locales").val();
                if (selectedOption != '') {
                    window.location.replace('?lang=' + selectedOption);
                }
            })
        })

    </script>
</head>
<body class="Site">
<header class="Header"
        th:replace="~{fragments/common_header_fragment :: head(main='menu-item menu-item_ACTIVE', status='unauthorized')}"></header>
<div class="Middle Middle_search">
    <div class="wrap">
        <main class="Middle-main">
            <h1 class="Middle-title" th:text="#{search.button}">Поиск
            </h1>
            <div class="Section">
                <div class="search">
                    <form class="form form_search" action="#" method="post" data-searchlimit="20">
                        <input class="search-input" id="querypage" name="querypage" type="text"
                               th:placeholder="#{topbar.placeholder}" th:value="${searchWordDTO.example}"
                               value="Техника"/>
                        <button class="search-button" type="submit" name="searchpage" id="searchpage"
                                th:text="#{search.button}">Поиск
                        </button>
                    </form>
                </div>
            </div>
            <div class="Section Section_close">
                <header class="Section-header">
                    <h2 class="Section-title Middle-searchHeader" th:text="${'Найдено книг: ' + searchResults.getTotalElements()}">Найдено 40 книг
                    </h2>
                </header>
                <div class="Cards Cards_refresh" th:object="${searchWordDTO}"
                     th:replace="~{fragments/books_pool_fragment :: pool(category='search', books=${searchResults}, refreshQuery=${searchWordDTO.example})}"></div>
            </div>
        </main>
    </div>
</div>
<footer class="Footer" th:replace="~{fragments/common_footer_fragment :: footer}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>
</html>