<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Тут название страницы написать</title>
    <meta name="description" content="Описание страницы">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/fonts.min.css?v=52263780">
    <link rel="stylesheet" href="/assets/css/basic.min.css?v=52263780">
    <link rel="stylesheet" href="/assets/css/extra.min.css?v=52263780">

    <script defer src="/assets/js/scripts.min.js?v=52263780"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#locales").change(function () {
                var selectedOption = $("#locales").val();
                if (selectedOption != '') {
                    window.location.replace('?lang=' + selectedOption);
                }
            })
        })

    </script>
</head>
<body class="Site">
<header class="Header"
        th:replace="~{fragments/common_header_fragment :: head(genres='menu-item menu-item_ACTIVE', status='unauthorized')}">
</header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <h1 class="Middle-title">Жанры
            </h1>
            <div class="Section">
                <div class="Tags Tags_genres">
                    <div class="Tags Tags_embed" th:each="genre : ${genres}">
                        <div class="Tags-title">
                            <div class="Tag" th:if="${genre.parentId == null}">
                                <a th:href="@{'/genres/' + ${genre.id}}" href="/genres/slug.html"
                                   th:text="${genre.name}  + ' ' + '(' + ${genre.getBookListByGenre().size()} + ')'">Лёгкое
                                    чтение<span
                                            class="undefined-amount">(15638)</span></a>
                            </div>
                        </div>
                        <div class="Tag" th:if="${genre.parentId == 1 || genre.parentId == 17}">
                            <a th:href="@{'/genres/' + ${genre.id}}" href="/genres/slug.html"
                               th:text="${genre.name}  + ' ' + '(' + ${genre.getBookListByGenre().size()} + ')'">Фантастика
                                <span class="undefined-amount">(44333)</span>
                            </a>
                        </div>
                        <div class="Tags">
                            <div class="Tag" th:if="${genre.parentId == 4 || genre.parentId == 19}">
                                <a th:href="@{'/genres/' + ${genre.id}}" href="/genres/slug.html"
                                   th:text="${genre.name}  + ' ' + '(' + ${genre.getBookListByGenre().size()} + ')'">Триллер
                                    <span class="undefined-amount">(134)</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<footer class="Footer" th:replace="~{fragments/common_footer_fragment :: footer}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>
</html>