<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<div class="Cards Cards_refresh" th:fragment="pool">
    <div class="Card" th:each="book : ${books}">
        <div class="Card-picture">
            <a href="#" th:href="@{'/books/' + ${book.slug}}">
                <img th:src="${book.image}" src="/assets/img/content/main/card.jpg" alt="card.jpg"/>
            </a>
        </div>
        <div class="Card-content">
            <strong class="Card-title">
                <a href="#" th:text="${book.title}">Техника</a>
            </strong>
            <div class="Card-description" th:text="${book.author}">Кондратенко Александр Петрович
            </div>
            <div class="Card-cost">
                <span class="Card-priceOld" th:text="${'₽' + book.priceOld}">₽300.00</span>
                <span class="Card-price" th:text="${'₽' + book.discountPrice()}">₽190.00</span>
            </div>
        </div>
    </div>
    <div class="Cards-footer Cards-footer_center">
        <a class="btn btn_primary"
           href="#"
           th:attr="data-refreshshow = ${category}, data-refreshquery = ${refreshQuery}, data-refreshid = ${refreshId}"
           data-refreshshow="recent"
           data-refreshoffset="0"
           data-refreshlimit="20"
           th:text="#{bookspool.showmore}">Показать еще</a>
    </div>
</div>
<script src="/assets/js/UploadNewBookImageScript.js"></script>
<script src="/assets/js/DownloadBookWindowScript.js"></script>
</html>