<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="bookSlider">
    <div class="Section-header">
        <h2 class="Section-title" th:text="${title}">Рекомендуемое
        </h2>
    </div>
    <div class="Slider Slider_carousel">
        <div class="Slider-box Cards" data-load="recommended" data-loadoffset="0" data-loadlimit="6">
            <div class="Slider-item" th:each="book : ${books}">
                <div class="Slider-content">
                    <div class="Card">
                        <a class="Card-picture" th:href="@{'/books/' + ${book.slug}}" href="/books/slug.html">
                            <img th:src="${book.image}" alt="card.jpg"/>
                        </a>
                        <div class="Card-content">
                            <strong class="Card-title">
                                <a href="/books/slug.html" th:href="@{'/books/' + ${book.slug}}"
                                   th:text="${book.title}">Техника</a>
                            </strong>
                            <div class="Card-description" th:text="${book.author}">Кондратенко Валерий Петрович
                            </div>
                            <div class="Card-cost">
                                <span class="Card-priceOld" th:text="${'₽' + book.priceOld}">₽300.00</span>
                                <span class="Card-price" th:text="${'₽' + book.discountPrice()}">₽190.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Slider-navigateWrap">
            <div class="Slider-navigate">
            </div>
        </div>
        <div class="Slider-load">
            <div class="Slider-load-text">Идет загрузка данных
            </div>
        </div>
    </div>
</div>
</html>