<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="reviewBlock">
    <div class="Comments">
        <div class="Comment" th:each="review : ${slugBook.bookReviewList}">
            <div class="Comment-column Comment-column_pict">
                <div class="Comment-avatar">
                </div>
            </div>
            <div class="Comment-column">
                <header class="Comment-header">
                    <div>
                        <strong class="Comment-title" th:inline="text">[[${review.userName}]]
                            <span class="Comment-rating"><span
                                    class="Rating Rating_comment"><span class="Rating-stars"><span
                                    class="Rating-star"
                                    th:classappend="${review.rating >= 1} ? 'Rating-star_view' : ''">
                              <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                <g>
                                  <g>
                                    <path fill="#ffc000"
                                          d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                  </g>
                                </g>
                              </svg></span><span class="Rating-star"
                                                 th:classappend="${review.rating >= 2} ? 'Rating-star_view' : ''">
                              <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                <g>
                                  <g>
                                    <path fill="#ffc000"
                                          d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                  </g>
                                </g>
                              </svg></span><span class="Rating-star"
                                                 th:classappend="${review.rating >= 3} ? 'Rating-star_view' : ''">
                              <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                <g>
                                  <g>
                                    <path fill="#ffc000"
                                          d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                  </g>
                                </g>
                              </svg></span><span class="Rating-star"
                                                 th:classappend="${review.rating >= 4} ? 'Rating-star_view' : ''">
                              <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                <g>
                                  <g>
                                    <path fill="#ffc000"
                                          d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                  </g>
                                </g>
                              </svg></span><span class="Rating-star"
                                                 th:classappend="${review.rating >= 5} ? 'Rating-star_view' : ''">
                              <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                <g>
                                  <g>
                                    <path fill="#ffc000"
                                          d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                                  </g>
                                </g>
                              </svg></span></span></span></span>
                        </strong>
                        <span class="Comment-date" th:text="${#temporals.format(review.time, 'dd-MM-yyyy HH:mm')}">17.04.2020 16:40</span>
                    </div>
                </header>
                <div class="Comment-content" th:inline="text"><p>[[${review.text}]]</p>
                    <div class="Comment-footer">
                        <div class="Comment-appeal">
                            <button class="btn btn_white btn_like" data-btntype="check" data-check="false"
                                    data-btnradio="two2"
                                    th:attr="data-bookslug = ${slugBook.slug}, data-likeid = ${review.id}"
                                    data-likeid="1111"><span class="btn-icon"><img
                                    src="/assets/img/icons/comment/like.svg" alt="like.svg"/></span><span
                                    class="btn-content" th:text="${review.getLikeCount()}">200</span>
                            </button>
                            <button class="btn btn_white btn_dislike" data-btntype="check" data-check="false"
                                    data-btnradio="two2"
                                    th:attr="data-bookslug = ${slugBook.slug}, data-likeid = ${review.id}"
                                    data-likeid="1111"><span class="btn-icon"><img
                                    src="/assets/img/icons/comment/dislike.svg" alt="dislike.svg"/></span><span
                                    class="btn-content" th:text="${review.getDisLikeCount()}">100</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>