<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<ul class="breadcrumbs" th:fragment="breadcrumps">
    <li class="breadcrumbs-item"><a th:href="@{/}" href="/index.html"
                                    th:text="#{topbar.main}">Главная</a>
    </li>
    <li class="breadcrumbs-item"><a th:href="@{/genres/}" href="/genres/index.html"
                                    th:text="#{recent.path}">Книги</a>
    </li>
    <li class="breadcrumbs-item breadcrumbs-item_current" th:text="${category}">
        <span th:text="#{recent.path3}">Новинки</span>
    </li>
</ul>
</html>