<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Тут название страницы написать</title>
    <meta name="description" content="Описание страницы">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/fonts.min.css?v=74020866">
    <link rel="stylesheet" href="/assets/css/basic.min.css?v=74020866">
    <link rel="stylesheet" href="/assets/css/extra.min.css?v=74020866">

    <script defer src="/assets/js/scripts.min.js?v=74020866"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#locales").change(function () {
                var selectedOption = $("#locales").val();
                if (selectedOption != '') {
                    window.location.replace('?lang=' + selectedOption);
                }
            })
        })

    </script>
</head>
<body class="Site">
<header class="Header"
        th:replace="~{fragments/common_header_fragment :: head(main='menu-item menu-item_ACTIVE', status='unauthorized')}"></header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <ul class="breadcrumbs"
                th:replace="~{fragments/breadcrumb_fragment :: breadcrumps(category=#{topbar.about})}"></ul>
            <h1 class="Middle-title" th:text="#{topbar.about}">О компании
            </h1>
            <article class="Article">
                <div class="sdf">
                </div>
                <div class="pict pict_left"><img src="/assets/img/content/documents/1.jpg" alt="1.jpg"/>
                </div>
                <p>В течение многих лет компания BOOKSTORE является бессменным лидером российского ИТ-рынка, что
                    отражено в рейтингах ведущих отраслевых изданий
                </p>
                <p>Основанная в 1992 году, сегодня компания BOOKSTORE является крупнейшим широкопрофильным
                    дистрибьютором на российском рынке. Компания успешно развивает такие сегменты дистрибуции, как:
                    компьютерная, цифровая и бытовая техника, канцелярские принадлежности, офисная мебель, подарки для
                    бизнеса. Кроме этого, особое внимание уделяется развитию VAD дистрибуции – как оборудования, так и
                    программного обеспечения.
                </p>
                <p>Репутация надежного, ответственного и опытного партнера, всегда выполняющего свои обязательства,
                    позволила компании BOOKSTORE построить прочные отношения с большинством ведущих мировых
                    производителей – в портфеле компании BOOKSTORE свыше 670 брендов,
                </p>
                <p>более 400 прямых дистрибьюторских соглашений. Партнерская сеть BOOKSTORE насчитывает более 8000
                    компаний во всех регионах России и странах СНГ. Офисы продаж находятся в Москве, Самаре,
                    Санкт-Петербурге, Нижнем Новгороде, Екатеринбурге, Новосибирске, Ростове-на-Дону.
                </p>
                <blockquote>BOOKSTORE сегодня — это тысячи профессионалов, которые развивают национальный
                    дистрибуторский рынок в нескольких сегментах и делают высокотехнологичные продукты доступными для
                    каждого жителя России.
                </blockquote>
                <p>Хотите присоединиться к команде BOOKSTORE? Ознакомьтесь с открытыми вакансиями на нашем сайте «Работа
                    в компании BOOKSTORE».
                </p>
                <p>Компания BOOKSTORE входит в число крупнейших компаний России, что отражено в рейтингах ведущих
                    деловых изданий. Среди немногих российских ИТ-компаний — участниц рейтингов, BOOKSTORE из года в год
                    подтверждает свои лидирующие позиции.
                </p>
            </article>
        </main>
    </div>
</div>
<footer class="Footer" th:replace="~{fragments/common_footer_fragment :: footer}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>
</html>