<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Тут название страницы написать</title>
    <meta name="description" content="Описание страницы">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/fonts.min.css?v=10496799">
    <link rel="stylesheet" href="/assets/css/basic.min.css?v=10496799">
    <link rel="stylesheet" href="/assets/css/extra.min.css?v=10496799">

    <script defer src="/assets/js/scripts.min.js?v=10496799"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#locales").change(function () {
                var selectedOption = $("#locales").val();
                if (selectedOption != '') {
                    window.location.replace('?lang=' + selectedOption);
                }
            })
        })

    </script>
</head>
<body class="Site">
<header class="Header"
        th:replace="~{fragments/common_header_fragment :: head(main='menu-item menu-item_ACTIVE', status='unauthorized')}"></header>
<div class="Middle">
    <div class="Middle-top">
        <div class="wrap">
            <h1 class="Middle-title" th:text="#{topbar.contacts}">Контакты
            </h1>
        </div>
    </div>
    <div class="wrap">
        <main class="Middle-main">
            <ul class="breadcrumbs"
                th:replace="~{fragments/breadcrumb_fragment :: breadcrumps(category=#{topbar.contacts})}"></ul>
            <div class="Contacts">
                <div class="row">
                    <div class="row-block">
                        <h2 th:text="#{topbar.contacts}">Контакты
                        </h2>
                        <div class="Contacts-prop">
                            <strong class="Contacts-propTitle" th:text="#{contacts.phone}">Телефон:
                            </strong><span class="Contacts-propContent">8 (800) 484-48-48</span>
                        </div>
                        <div class="Contacts-prop">
                            <strong class="Contacts-propTitle">E-mail:
                            </strong><span class="Contacts-propContent">test@test.ru</span>
                        </div>
                        <div class="Contacts-prop">
                            <strong class="Contacts-propTitle" th:text="#{contacts.telegrambot}">Телеграм-бот:
                            </strong><span class="Contacts-propContent">@testBookShop</span>
                        </div>
                    </div>
                    <div class="row-block">
                        <div class="Contacts-form">
                            <h2 th:text="#{contacts.contactwithus}">Напишите нам:
                            </h2>
                            <form class="form" action="#" method="post">
                                <div class="form-group">
                                    <input class="form-input" id="name" name="name" type="text"
                                           th:placeholder='#{contacts.entername}' data-validate="require"/>
                                </div>
                                <div class="form-group">
                                    <input class="form-input form-input_mail" id="mail" name="mail" type="text"
                                           th:placeholder='#{contacts.enteremail}' data-validate="mail require"/>
                                </div>
                                <div class="form-group">
                                    <input class="form-input" id="topic" name="topic" type="text"
                                           th:placeholder='#{contacts.topic}' data-validate="require"/>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-textarea Contacts-message" name="message" id="message"
                                              th:placeholder='#{contacts.entermessage}'
                                              data-validate="require"></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn_primary form-btn" type="submit" name="sendMessage"
                                            id="sendMessage" th:text="#{contacts.send}">Отправить
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<footer class="Footer" th:replace="~{fragments/common_footer_fragment :: footer}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>
</html>