<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Тут название страницы написать</title>
    <meta name="description" content="Описание страницы">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/fonts.min.css?v=59641147">
    <link rel="stylesheet" href="/assets/css/basic.min.css?v=59641147">
    <link rel="stylesheet" href="/assets/css/extra.min.css?v=59641147">

    <script defer src="/assets/js/scripts.min.js?v=59641147"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#locales").change(function () {
                var selectedOption = $("#locales").val();
                if (selectedOption != '') {
                    window.location.replace('?lang=' + selectedOption);
                }
            })
        })

    </script>
</head>
<body class="Site">
<header class="Header"
        th:replace="~{fragments/common_header_fragment :: head(authors='menu-item menu-item_ACTIVE', status='unauthorized')}"></header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <h1 class="Middle-title" th:text="#{topbar.authors}">Авторы
            </h1>
            <div class="Section">
                <div class="Authors">
                    <div class="Authors-links">
                        <a class="Authors-link"
                           th:each="authorSection : ${authorSectionData}"
                           th:text="${authorSection.letter}"
                           th:href="'#' + ${#strings.toLowerCase(authorSection.letter)}">
                        </a>
                    </div>
                    <div class="Authors-block" th:each="authorSection : ${authorSectionData}">
                        <div class="Authors-container">
                            <div class="blank"></div>
                            <h2 class="Authors-title" th:id="${#strings.toLowerCase(authorSection.letter)}"
                                th:text="${authorSection.letter}"></h2>
                            <div class="Authors-letter">
                                <div class="Authors-item"
                                     th:each="author : ${authorSection.authors}">
                                    <a href="/authors/slug" th:href="@{'/authors/slug/' + ${author.id}}"
                                       th:text="${author.lastName} + ' ' + ${author.firstName}">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<footer class="Footer" th:replace="~{fragments/common_footer_fragment :: footer}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>
</html>