<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Тут название страницы написать</title>
    <meta name="description" content="Описание страницы">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/fonts.min.css?v=93601584">
    <link rel="stylesheet" href="/assets/css/basic.min.css?v=93601584">
    <link rel="stylesheet" href="/assets/css/extra.min.css?v=93601584">

    <script defer src="/assets/js/scripts.min.js?v=93601584"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#locales").change(function () {
                var selectedOption = $("#locales").val();
                if (selectedOption != '') {
                    window.location.replace('?lang=' + selectedOption);
                }
            })
        })

    </script>
</head>
<body class="Site">
<header class="Header"
        th:replace="~{fragments/common_header_fragment :: head(authors='menu-item menu-item_ACTIVE', status='unauthorized')}"></header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <ul class="breadcrumbs"
                th:replace="~{fragments/breadcrumb_fragment :: breadcrumps(category=#{topbar.genres})}"></ul>
            <div th:replace="~{fragments/author_article_fragment :: article(author=${author})}"></div>
            <div class="Section"
                 th:replace="~{fragments/book_slider_fragment :: bookSlider(title='Книги автора')}"></div>
            <footer class="Section-footer">
                <a class="Author-books" th:href="@{'/books/author/' + ${author.id}}" href="/books/author.html">
                    Все книги автора
                    <span class="Author-amount" th:text="(${size})">(55)</span>
                </a>
            </footer>
        </main>
    </div>
</div>
<footer class="Footer" th:replace="~{fragments/common_footer_fragment :: footer}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>
</html>